PORT=3333
JWT_SECRET='secret'
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/pr_to_agent?schema=public"
NODE_ENV='development'
AI_PROVIDER='gemini' #Default AI PROVIDER
GEMINI_API_KEY='your key'
OPENAI_API_KEY='your key'
ENCRYPTION_KEY='55e97850167025fc038cdfe1a296bc95da2b91c93006355b9498d3de29b15297'